[defaults]
host_key_checking = false
hash_behaviour = merge
forks = 20
inventory = ./inventories/dev/hosts
roles_path = ./roles/
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey
pipelining = true
